.bt-none {
  border-top: none;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.overflow-visible {
  overflow: visible;
}

.icon-gray {
  color: rgba(0,0,0,.55);
}
