.search {
  height: inherit;
}

.font-bold {
  font-weight: 500;
}

.color-green {
  color: green;
}

.price {
  font-size: 23px;
  font-weight: 550;
}

.card {
  cursor: pointer;
}

.search-field {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.fit-content mat-chip{
  width: fit-content;
}

