
<nav class="navbar navbar-light bg-light shadow">
  <div class="container mt-1">
    <div class="col-md-6 d-none d-md-block">
      <button class="navbar-toggler d-flex align-items-center" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><span class="m-2"> Filtrar productos</span>
        <mat-icon class="material-icons-round">filter_list</mat-icon>
      </button>
    </div>
    <div class="col col-md-6">
      <div class="d-flex justify-content-center">
        <mat-form-field class="search-field mx-2">
          <mat-label>Buscar</mat-label>
          <input matInput type="text" [ngModel]="filterValue">
          <mat-icon class="material-icons-round" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 d-md-none">
      <div class="row">
        <button class="navbar-toggler d-flex justify-content-center" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="m-2"> Filtrar productos</span>
          <mat-icon class="material-icons-round mt-1">filter_list</mat-icon>
        </button>
      </div>
    </div>
  </div>

</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light pb-3 shadow">
    <div class="container">
      <mat-icon class="float-end pointer mt-2" data-mdb-toggle="collapse"
          data-mdb-target="#navbarToggleExternalContent">close</mat-icon>
      <div class="row">
        <div class="col-md-6">
          <h4 class="my-3">Categoria</h4>
          <mat-chip-list class="mat-chip-list-stacked fit-content" aria-label="Categorias">
            <mat-chip>Procesadores</mat-chip>
            <mat-chip>Motherboard</mat-chip>
            <mat-chip>Memorias RAM</mat-chip>
            <mat-chip>Placas de video</mat-chip>
            <mat-chip>Fuentes</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col-md-6">
          <h4 class="my-3">Marca</h4>
          <mat-chip-list class="mat-chip-list-stacked fit-content" aria-label="Marcas">
            <mat-chip>AMD</mat-chip>
            <mat-chip>Asrock</mat-chip>
            <mat-chip>Gigabyte</mat-chip>
            <mat-chip>MSI</mat-chip>
            <mat-chip>Cougar</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">

    <!-- example card -->
    <div class="col" *ngFor="let product of productList">
      <div class="card h-100 shadow">
        <div class="bg-image hover-overlay">
          <img src="{{ product.imgUrl }}" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h6 class="card-title"><strong>{{ product.name }}</strong></h6>
          <p class="card-text">

          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center color-green"><mat-icon>attach_money</mat-icon><span class="price"> {{ product.price }}</span></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-5">
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1 <span class="visually-hidden">(current)</span></a></li>
      <li class="page-item" aria-current="page">
        <a class="page-link" href="#">2 </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
